#nav{
	width: 100%;
	background-color: white;
	float: left;
	height: 80px;
	line-height: 80px;
	border-bottom: 2px solid #B9B8BA;
	position:fixed;

}

#main{
	float: left;
	background-color: blue;
	width: 70%;
	height: 700px;
	margin-top: 80px;
	

}

#side{
	float: left;
	background-color: red;
	width: 30%;
	height: 700px;
	margin-top: 80px;
	

}

#footer{
	float: left;
	width: 100%;
	background-color: purple;
	height: 300px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;


}

html, body{
	margin: 0;
	padding: 0;

}

p{
	text-align: center;
	font-family: monospace;
	font-size: 20px;
}

#m{
	line-height: 700px;
}

#s{
	line-height: 700px;
}

#f{
	line-height: 300px;
}

#n{
	margin-top: 8px;
	text-align: left;
	float: left;
}

ul{
	float: right;
	list-style-type: none;
	margin: 0px;
	padding-right: 30px;

}

li{
	float: left;
	margin-left: 30px;
	font-family: arial;

}

img{
	width: 110px;
	height: 100px;
	margin-top: 12px;
}

a{
	text-decoration: none;
	color: #908E91;
	font-size: 18px;
}

li:hover{
	text-decoration: underline;
}

.container{
	margin:0 auto;
	padding: 0 10px;
	max-width: 2020px;
}

BUTTON = <button class="button">text</button>
		 <input type="button" value="text"/>


