#nav{
	width: 100%;
	background-color: white;
	float: left;
	height: 80px;
	line-height: 80px;
	border-bottom: 2px solid #B9B8BA;
	position:fixed;
}

img{
	width: 105px;
	height: 100px;
	margin-top: 0px;
	float:left;
}

li:hover{
	text-decoration: underline;
}

.container{
	margin:0 auto;
	padding: 0 10px;
	max-width: 2020px;
}

#logotext{
	float: left;
	margin-top: 2px;
	margin-left: 7px;
	font-family: impact;
	font-size: 30px;
	color: #333332;
}

a{
	text-decoration: none;
	color: #908E91;
	font-size: 18px;
}

li{
	float: left;
	margin-left: 30px;
	font-family: arial;

}

ul{
	float: right;
	list-style-type: none;
	margin: 0px;
	padding-right: 30px;

}

html, body{
	margin: 0;
	padding: 0;
}
